---
layout: default
---
<div class="posts-feed">
  {% for post in site.posts %}
  <article class="feed-post">
    <time class="feed-post-date" datetime="{{ post.date | date_to_xmlschema }}">
      {{ post.date | date: "%b %-d, %Y" }}
    </time>
    <div class="feed-post-content">
      <h2 class="feed-post-title">{{ post.title | default: "Untitled" }}</h2>
      <div class="feed-post-image">
        {% if post.cover %}
        <img data-src="{{ post.cover | relative_url }}" alt="{{ post.title }}" loading="lazy">
        {% endif %}
      </div>
      <div class="feed-post-body">{{ post.content }}</div>
    </div>
  </article>
  {% endfor %}
</div>
