---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date: "%B %-d, %Y" }}
    </time>
  </header>
  <div class="post-body post-lang" data-lang="en">
    {{ content }}
  </div>
  {% if page.korean_content %}
  <div class="post-body post-lang" data-lang="ko">
    {{ page.korean_content | markdownify }}
  </div>
  <div class="post-lang-toggle-wrap">
    <button class="lang-toggle">Show in Korean</button>
  </div>
  {% endif %}
</article>
